@import './animacoes.css';
@import './resposivo.css';

.carrinho_modal::before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
}

.carrinho_modal{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      display: none;
}

.carrinho_modal.ativo{
      display: block;
}

.carrinho_container{
      position: relative;
      margin: 80px auto;
      background: #fff;
      padding: 40px;
      max-width: 800px;
      animation: fadeInDown .3s forwards;
}
.carrinho_fechar{
      border-radius: 50%;
      border:solid 2px #000;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 1rem;
      box-shadow: 0 3px  2px rgba(0,0,0,0.1), 0 4px  10px rgba(0,0,0,0.2);
      cursor: pointer;
}
.carrinho_item{
      display: grid;
      grid-template-columns: 1fr 1fr 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px 0;
}
.carrinho_titulo{
      margin-bottom: 10px;
      border-bottom: 2px solid #000;
      padding-bottom: 20px;
}
.carrinho_remover{
      border: none;
      font-size: 1rem;
      cursor: pointer;
      background: transparent;
}
.carrinho_preco{
      text-align: right;
}
.carrinho_total{
      text-align: right;
      padding: 10px 50px 10px 0;
      border-bottom: 2px solid#000;
      margin-bottom: 20px;
}
.carrinho_finalizar{
      display: block;
      margin-left: auto;
      background: #000;
      cursor: pointer;
      color:#fff;
      padding: 10px 25px;
      border: none;
      font-family: 'Noto Serif';

}