<!DOCTYPE html>
<html lang="pt-br">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="./vue.js"></script>
      <link rel="stylesheet" href="./style.css">
      <title>Techno</title>
</head>
<body>
      <div id="app">
            <header class="header">
                  <img class="logo" src="./assets/techno.svg" alt="Techno">
                  <div class="carrinho_menu" @click="carrinhoAtivo = true">{{carrinhoTotal | numeroPreco}} | {{carrinho.length}}</div>
            </header>

            <section class="produtos">
                  <div  class="produto"  v-for="(produto, index) in produtos"  :key="index" @click="abrirModal(produto.id)"> 
                        <img class="produto_img" :src="produto.img" alt="">
                        <div class="produto_info">
                                    <span class="produto_preco">{{produto.preco | numeroPreco}}</span>
                                    <h2 class="produto_titulo">{{produto.nome}}</h2>

                              </div>
      
                        </div>
            </section>

            <section class="modal" v-if="produto" @click="fecharModal">
                  <div class="modal_container"> 
                        <div class="modal_img">
                              <img :src="produto.img" :alt="produto.nome">
                        </div>

                        <div class="modal_dados">
                              <button @click="produto = false" class="motal_fechar">X</button>
                              <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
                              <h2 class="modal_titulo">{{produto.nome}}</h2>
                              <p>{{produto.descricao}}</p>
                              <button v-if="produto.estoque > 0" class="modal_btn " @click="adicionarItem">Adicionar item</button>
                              <button v-else class="modal_btn esgotado" disabled> Produto Esgotado</button>
                        </div>
                        <div class="avaliacoes">
                              <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                              <ul>
                                    <li v-for="(rev, index) in produto.reviews" ::key="index" class="avaliacao">
                                          <p class="avaliacao_descricao">{{rev.descricao}}</p>
                                          <p class="avaliacao_user">{{rev.nome}} | {{rev.estrelas}}</p>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </section>

            <section class="carrinho_modal" :class="{ativo:carrinhoAtivo}" @click="clickForaCarrinho">
                  <div class="carrinho_container">
                        <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
                        <h2 class="carrinho_titulo">Carrinho</h2>
                        <div v-if="carrinho.length > 0">
                              <ul class="carrinho_lista">
                                    <li v-for="(item, index) in carrinho" :key="index" class="carrinho_item">
                                          <p>{{item.nome}}</p>
                                          <p class="carrinho_preco">{{item.preco |numeroPreco}}</p>
                                          <button class="carrinho_remover" @click="removerItem(index)">X</button>
                                    </li>
                              </ul>
                              <p class="carrinho_total">{{carrinhoTotal | numeroPreco}}</p>
                              <button class="carrinho_finalizar">Finalizar compra</button>
                        </div>
                        <p v-else>O carrinho está vazio</p>
                  </div>
            </section>

            <div class="alerta" :class="{ativo: alertaAtivo}">
                  <p class="alerta_mensagem">{{mensagemAlerta}}</p>
            </div>
      </div>
</body>
      <script src="./app.js"></script>
</html>
